{% macro input_select(name, input_select, buttons, value=none) %}
  - type: 'custom:stack-in-card'
    mode: vertical
    keep:
      margin: true
      border_radius: true
    cards:
      - type: 'custom:layout-card'
        layout: horizontal
        column_num: 2
        column_width:
           - 66%
           - 34%
        cards:
          - type: markdown
            content: '# {{name}}'
            style: |
              ha-card {
                font-size: 12px;
              }
          - type: markdown
            content: |
{% if value is not none %}
               {{value}}
{% else %}
{% for button in buttons %}
               {{ '{%' }} {% if loop.index !=1 %}el{% endif %}if is_state('input_select.{{input_select}}', '{{button.ha}}') {{ '%}' }} {{ button.name }}
{% endfor %}
               {{ '{%' }} else {{ '%}' }} {{ '{{' }} states('input_select.{{input_select}}') {{ '}}' }}
               {{ '{%' }} endif {{ '%}' }}
{% endif %}
            style: |
              ha-card {
                font-size: 14px;
                text-align: right;
                font-style: italic;
              }
      - type: horizontal-stack
        cards:
{% for button in buttons %}
          - type: 'custom:button-card'
            icon: '{{ button.icon }}'
            name: '{{ button.name }}'
            entity: input_select.{{input_select}}
            show_state: false
            tap_action:
              action: call-service
              service: input_select.select_option
              service_data:
                entity_id: input_select.{{input_select}}
                option: '{{ button.ha }}'
            state:
              - value: '{{ button.ha }}'
{% if button.color is defined %}
                color: '{{ button.color }}'
{% else %}
                color: var(--paper-item-icon-active-color)
{% endif %}
              - operator: default
                color: var(--primary-text-color)
            styles:
              card:
                - font-size: 12px
{% endfor %}
{%- endmacro %}
