path: {{ view_name }}
title: {{ view.name }}
icon: {{ view.icon }}
visible:
{% for user in view.visibility %}
  - user: {{ lovelace_users[user].id }}
{% endfor %}
panel: false
cards:
{% block cardlist %}{% endblock %}
