sensor:
  - platform: "mqtt"
    name: "{{ data.entity_id }}_action"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    value_template: "{{ '{{' }} value_json.action {{ '}}' }}"
    icon: "mdi:gesture-double-tap"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_strength"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "-"
    value_template: "{{ '{{' }} value_json.strength {{ '}}' }}"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_sensitivity"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    value_template: "{{ '{{' }} value_json.sensitivity {{ '}}' }}"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_battery"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "%"
    value_template: "{{ '{{' }} value_json.battery {{ '}}' }}"
    device_class: "battery"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_linkquality"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "lqi"
    value_template: "{{ '{{' }} value_json.linkquality {{ '}}' }}"
    icon: "mdi:signal"
