switch:
  - platform: "mqtt"
    name: "{{ data.entity_id }}_state"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    payload_off: "OFF"
    payload_on: "ON"
    command_topic: "zigbee2mqtt/{{ data.entity_id }}/set"

sensor:
  - platform: "mqtt"
    name: "{{ data.entity_id }}_power"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "W"
    value_template: "{{ '{{' }} value_json.power {{ '}}' }}"
    icon: "mdi:flash"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_energy"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "kWh"
    value_template: "{{ '{{' }} value_json.energy {{ '}}' }}"
    icon: "mdi:power-plug"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_temperature"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "°C"
    value_template: "{{ '{{' }} value_json.temperature {{ '}}' }}"
    device_class: "temperature"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_voltage"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "V"
    value_template: "{{ '{{' }} value_json.voltage {{ '}}' }}"
    icon: "mdi:alpha-v"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_current"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "A"
    value_template: "{{ '{{' }} value_json.current {{ '}}' }}"
    icon: "mdi:current-ac"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_linkquality"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "lqi"
    value_template: "{{ '{{' }} value_json.linkquality {{ '}}' }}"
    icon: "mdi:signal"

