sensor:
  - platform: "mqtt"
    name: "{{ data.entity_id }}_action"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    value_template: "{{ '{{' }} value_json.action {{ '}}' }}"
    icon: "mdi:gesture-double-tap"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_strength"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "-"
    value_template: "{{ '{{' }} value_json.strength {{ '}}' }}"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_sensitivity"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    value_template: "{{ '{{' }} value_json.sensitivity {{ '}}' }}"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_battery"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "%"
    value_template: "{{ '{{' }} value_json.battery {{ '}}' }}"
    device_class: "battery"

  - platform: "mqtt"
    name: "{{ data.entity_id }}_linkquality"
    state_topic: "zigbee2mqtt/{{ data.entity_id }}"
    availability_topic: "zigbee2mqtt/{{ data.entity_id }}/availability"
    unit_of_measurement: "lqi"
    value_template: "{{ '{{' }} value_json.linkquality {{ '}}' }}"
    icon: "mdi:signal"

binary_sensor:
  - platform: template
    sensors:
      {{ data.entity_id | lower }}_triggered:
        friendly_name: "{{ data.entity_id }}"
        device_class: vibration
        delay_off:
          seconds: 10
        value_template: >-
          {{ '{{' }} is_state('sensor.{{ data.entity_id }}_action', 'vibration')
             or is_state('sensor.{{ data.entity_id }}_action', 'tilt')
             or is_state('sensor.{{ data.entity_id }}_action', 'drop')
          {{ '}}' }}

