{% extends "tools/view_layout.yaml.j2" %}
{% block cardlist %}
  - type: 'custom:auto-entities'
    card:
      type: entities
      title: Niveau Batteries
    filter:
      include:
        - attributes:
            device_class: battery
            unit_of_measurement: '%'
          state: < 100
          options:
            type: 'custom:battery-entity-row'
            warning: 50
            critical: 25
            charging: true
      exclude:
        - device: Mi A2*
        - device: '*iPhone*'
        - device: '*Maheva*'
        - device: '*M2004J19C*'
    sort:
      method: state
      numeric: true
  - type: 'custom:stack-in-card'
    mode: vertical
    title: 'Unifi update'
    keep:
      margin: true
      border_radius: true
    cards:
     - type: 'custom:stack-in-card'
       mode: horizontal
       keep:
         margin: false
         border_radius: true
       cards:
         - type: 'custom:button-card'
           name: USG
           icon: 'mdi:security-network'
           state:
             - operator: template
               value: >
                 [[[ return states['device_tracker.usg'].attributes.upgradable ]]]
               color: orange
           styles:
             name:
               - font-size: 13px
         - type: 'custom:button-card'
           name: Switch
           icon: 'mdi:server-network'
           state:
             - operator: template
               value: >
                 [[[ return states['device_tracker.us16p150'].attributes.upgradable ]]]
               color: orange
           styles:
             name:
               - font-size: 13px
         - type: 'custom:button-card'
           name: SAM
           icon: 'mdi:server-network'
           state:
             - operator: template
               value: >
                 [[[ return states['device_tracker.flex_mini_sam'].attributes.upgradable ]]]
               color: orange
           styles:
             name:
               - font-size: 13px
         - type: 'custom:button-card'
           name: Terrasse
           icon: 'mdi:server-network'
           state:
             - operator: template
               value: >
                 [[[ return states['device_tracker.usmini'].attributes.upgradable ]]]
               color: orange
           styles:
             name:
               - font-size: 13px
     - type: 'custom:stack-in-card'
       mode: horizontal
       keep:
         margin: false
         border_radius: true
       cards:
         - type: 'custom:button-card'
           name: AP SAM
           icon: 'mdi:access-point'
           state:
             - operator: template
               value: >
                 [[[ return states['device_tracker.uap_ac_lr_sam'].attributes.upgradable ]]]
               color: orange
           styles:
             name:
               - font-size: 13px
         - type: 'custom:button-card'
           name: AP Garage
           icon: 'mdi:access-point'
           state:
             - operator: template
               value: >
                 [[[ return states['device_tracker.uap_ac_lite_garage'].attributes.upgradable ]]]
               color: orange
           styles:
             name:
               - font-size: 13px
         - type: 'custom:button-card'
           name: AP Cabanon
           icon: 'mdi:access-point'
           state:
             - operator: template
               value: >
                 [[[ return states['device_tracker.uap_ac_lite_cabanon'].attributes.upgradable ]]]
               color: orange
           styles:
             name:
               - font-size: 13px
  - type: 'custom:auto-entities'
    card:
      type: entities
      title: OTA
    filter:
      include:
        - entity_id: '*update_available*'
          state: 'on'
{% endblock %}
