{% extends "layout/view_layout.yaml.j2" %}
{% block cardlist %}
{% for entity in view.entities %}
  - type: 'custom:mini-graph-card'
    align_state: center
    #align_header: left
    align_icon: right
    color_thresholds:
      - color: '#1da4f2'
        value: 16
      - color: '#11f13a'
        value: 18
      - color: '#f0da11'
        value: 20
      - color: '#ef5a0f'
        value: 22
      - color: '#ef1d0f'
        value: 23
    entities:
      - {{ entity.temperature_sensor }}
    hour24: true
    line_color: '#1da4f2'
    name: {{ entity.name }}
    points_per_hour: 1
    decimals: 1
    show:
      points: hover
      labels: true
      labels_secondary: false
      icon: true
      icon_adaptive_color: true
{% endfor %}
{% endblock %}
