path: {{ view_name }}
title: {{ view.name }}
icon: {{ view.icon }}
panel: false
cards:
{% for entitie in view.entities %}
  - type: 'custom:mini-graph-card'
    align_icon: left
    color_thresholds:
      - color: '#1da4f2'
        value: 16
      - color: '#11f13a'
        value: 18
      - color: '#f0da11'
        value: 20
      - color: '#ef5a0f'
        value: 22
      - color: '#ef1d0f'
        value: 23
    entities:
      - {{ entitie.temperature_sensor }}
    hour24: true
    line_color: '#1da4f2'
    more_info: false
    name: {{ entitie.name }}
    points_per_hour: 1.5
    show:
      points: false
      labels: true
      name: true
{% endfor %}
